*, *::before, *::after{
    box-sizing: border-box;
    font-family: Open Sans, sans-serif;
    font-weight: bold;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(-45deg, #6ee2f5, #ffa62e, #ea4d2c, #6454f0);
	background-size: 400% 400%;
	animation: gradient 4s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 1.75rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.7);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
    grid-column: span 2;
}

.output {
    grid-column: 1/-1;
    background-color: rgba(0, 0, 0, 0.67);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous-operand {
    color: rgb(255, 255, 255, 0.75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: rgb(255, 255, 255, 0.75);
    font-size: 2.75rem;
}